
.employeeImage{
  max-width: 100px;
}

.employeeInfo {
  padding: 10px 20px;
}

.employeeName {
  margin: 0 0 5px;
}

.employee-container {
  border: solid 1px #eee;
  display: flex;
  padding: 10px;
}

.detail-button {
  margin: 15px 0 0;
  padding: 5px;
}

.position {
  margin: 10px 0;
}
